/* betűstílus */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: light-dark(#ffffff, #000000);
	color: light-dark(#000000, #ffffff);
}
/* konténer */
.container{
    margin: 10px 50px 0 50px;
    background-color: lightgreen;
    border: 5px solid green;
    border-radius: 20px;
    padding: 20px;
}
/* különválasztás */
header, main{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dotted black;
}
/* fejléc tartalmi formázása*/
nav{
    display: flex;
}
ul{
    gap: 50%;
    display: flex;
    padding-left: 50%;
}
li{
    list-style: none;
    align-self: center;
}
a{
    font-size: 110%;
    color: black;
    text-decoration: none;
    transition: 0.5s linear;
}
a:hover{
    border-bottom: 3px solid blue;
    padding: 0 0 10px;
}
#profile{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    justify-self: left;
}
button{
    border: 2px solid black;
    background: linear-gradient(to bottom right, green 70%, blue);
}
/* a tartalom megjelenési stílusa */
.card{
    width: 80%;
    justify-self: center;
}
img{
    transition: 0.5s linear;
}
img:hover{
    border: 2px solid black;
    box-shadow: 0 0 5px 3px black;
}
#jelenleg, #contact{
    display: flex;
}
div#logo, div#iakk{
    display: block;
}
#jelenleg img{
    height: 150px; 
    width: 150px; 
    margin-left: 100px;
}
#contact img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border: 1px solid darkgoldenrod;
}